.remove-underline {
  text-decoration: none;
}

.remove-padding {
  padding: 0;
  margin: 0;
}

.video-card-container {
  .img {
    width: 210px;
    height: 210px;
    object-fit: cover;
  }

  .h-250 {
    height: 250px;
  }

  .w-300 {
    width: 210px;
  }

  .card-image {
    align-items: center;
    border-radius: 8px;
  }

  .l-s-3 {
    letter-spacing: 0.0333em;
  }
}
