.artist-container {
  .img {
    object-fit: contain;
  }

  .h-200 {
    height: 200px;
  }

  .card-image {
    padding: 16px 12px;
    text-align: center;
    border: 1px dashed #585858;
    border-radius: 8px;
  }

  .input-border-red {
    height: 56px;
    border: 1.5px solid #fa896b;
    border-radius: 8px;
  }

  .border-red {
    border: 1px dashed #fa896b;
  }

  .l-s-3 {
    letter-spacing: 0.0333em;
  }

  .border-color {
    border: 1px solid #000;
  }
}
