.album-detail-container {
  .img {
    object-fit: contain;
  }

  .h-250 {
    height: 250px;
  }

  .card-image {
    padding: 16px 12px;
    text-align: center;
    border: 1px dashed #585858;
    border-radius: 8px;
  }

  .border-red {
    border: 1px dashed #fa896b;
  }

  .l-s-3 {
    letter-spacing: 0.0333em;
  }
}

.scroll-viewport {
  width: 100%;
  height: 300px;
  background-color: #eceaea;
  border-radius: 8px;
}
