<mat-card class="cardWithShadow theme-card">
  <div class="row justify-content-space-between align-items-lg-center">
    <div class="col-6">
      <mat-card-header>
        <mat-card-title class="f-s-16">แก้ไขวิดีโอ</mat-card-title>
      </mat-card-header>
    </div>
    <div class="col-6">
      <div class="row justify-content-end align-items-lg-center m-r-16">
        <div class="m-t-8">
          <button
            mat-flat-button
            color="warn"
            class="remove-border m-r-10 cursor-pointer"
            *ngIf="accountAdsVideoPermission?.isDelete"
            (click)="openDialogDelete(formGroup?.value.id)">
            <mat-icon matSuffix>
              <i-tabler name="trash" class="icon-20"></i-tabler>
            </mat-icon>
            <mat-card-title class="f-s-16">ลบข้อมูล</mat-card-title>
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="m-t-24 ads-video-box" [formGroup]="formGroup!">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
        ชื่อวิดีโอโฆษณา<span class="text-error">*</span></mat-label
      >
      <mat-form-field appearance="outline" class="w-100 m-b-8">
        <input
          matInput
          [formControlName]="'name'"
          type="text"
          Input
          placeholder="ใส่ชื่อวิดีโอโฆษณา" />
        <mat-error *ngIf="formGroup!.get('name')?.hasError('required')"> กรุณากรอกชื่อ</mat-error>
      </mat-form-field>
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
        URL วิดีโอโฆษณา<span class="text-error">*</span></mat-label
      >
      <mat-form-field appearance="outline" class="w-100 m-b-8">
        <input matInput [formControlName]="'url'" type="text" Input placeholder="https://" />
        <mat-icon matSuffix>
          <i-tabler name="external-link" class="icon-20 d-flex text-gray-100"></i-tabler>
        </mat-icon>
        <mat-error *ngIf="formGroup!.get('url')?.hasError('required')"> กรุณากรอก URL</mat-error>
      </mat-form-field>
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
        เลือกวันที่แสดงโฆษณาบนเว็บไซต์-จนถึงวันที่สิ้นสุด<span class="text-error">*</span>
      </mat-label>
      <mat-form-field appearance="outline" class="w-100 m-b-30">
        <mat-date-range-input [rangePicker]="dateTimes">
          <input matStartDate placeholder="วันที่แสดงโฆษณา" [formControlName]="'publishedAt'" />
          <input matEndDate placeholder="วันที่สิ้นสุดโฆษณา" [formControlName]="'expiredAt'" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="dateTimes"></mat-datepicker-toggle>
        <mat-date-range-picker #dateTimes></mat-date-range-picker>
        <mat-error class="m-b-3" *ngIf="formGroup!.get('publishedAt')?.hasError('required')">
          กรุณา เลือกวันที่แสดงโฆษณา
        </mat-error>
        <mat-error
          class="m-b-3"
          *ngIf="
            formGroup!.get('expiredAt')?.hasError('required') && formGroup!.get('publishedAt')!
          ">
          กรุณา เลือกวันที่สิ้นสุดโฆษณา
        </mat-error>
      </mat-form-field>

      <div class="row justify-content-between m-b-16">
        <div class="flex-column col-md-5">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block m-t-16"
            >วิดีโอโฆษณา<span class="text-error">*</span></mat-label
          >
          <div [class]="isClickVideo ? 'card-image border-red' : 'card-image'">
            <div *ngIf="!adsVideoSrc && !adsVideo" class="m-b-12">
              <div
                class="bg-light-primary d-flex align-items-center justify-content-center cursor-pointer rounded h-200">
                <img
                  ngSrc="assets/images/ads-video/file.png"
                  alt="image"
                  width="100"
                  height="100" />
              </div>
            </div>
            <div class="w-100 m-b-16" *ngIf="adsVideo && !adsVideoSrc">
              <app-play-ads-video [video]="adsVideo"></app-play-ads-video>
            </div>
            <div #adsVideoContainer></div>
            <button
              mat-flat-button
              color="primary"
              class="m-r-8 m-b-8"
              type="button"
              (click)="upVideo.click()">
              Upload
            </button>
            <input type="file" hidden #upVideo (change)="handleFileInputChangeVideo($event)" />
            <span class="f-s-14 d-block">ใช้ไฟล์ MP4,MOV และ AVI ขนาดไม่เกิน 100 MB เท่านั้น</span>
          </div>
          <mat-error *ngIf="isClickVideo" class="f-s-12 f-w-100 l-s-3">
            กรุณาเลือกวิดีโอโฆษณา
          </mat-error>
        </div>
        <div class="flex-column col-md-5">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block m-t-16"
            >ภาพวิดีโอโฆษณา<span class="text-error">*</span></mat-label
          >
          <div>
            <div [class]="isClickImage ? 'card-image border-red' : 'card-image'">
              <div
                class="flex-column no-gutters align-items-center justify-content-center cursor-pointer p-10">
                <img
                  *ngIf="imageSrc"
                  [src]="imageSrc"
                  alt="Image Profile"
                  class="w-100 h-200 img" />
                <div class="d-flex no-gutters justify-content-center">
                  <app-crop-image
                    [imgSrcOld]="imageSrc"
                    [width]="40"
                    [height]="40"
                    [key]="'adsVideoProfile'"
                    (imageAdsVideoProfileReady)="imageAdsVideoProfileEvent($event)">
                  </app-crop-image>
                </div>
              </div>
              <span class="f-s-14 d-block">เฉพาะไฟล์ JPEG และ PNG ขนาดสูงสุด 500 KB</span>
            </div>
            <mat-error *ngIf="isClickImage" class="f-s-12 f-w-100 l-s-3">
              กรุณาเลือกภาพวิดีโอโฆษณา
            </mat-error>
          </div>
        </div>
      </div>
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"> สถานะ</mat-label>
      <mat-slide-toggle [formControlName]="'isActive'" class="m-l-auto"></mat-slide-toggle>
      {{ !formGroup || formGroup.get("isActive")?.value === true ? "ใช้งาน" : "ปิดการใช้งาน" }}
      <br />
      <br />

      <div class="m-t-12" *ngIf="isShowAlert">
        <app-alert [color]="'error'">
          {{ alertMessage }}
        </app-alert>
      </div>

      <mat-card-actions class="b-t-1">
        <button
          mat-flat-button
          color="primary"
          class="m-r-8"
          (click)="submitForm()"
          [disabled]="formGroup?.disabled">
          {{ !formGroup?.disabled ? "บันทึก" : "กำลังโหลด..." }}
        </button>
        <a href="ads/ads-video/list" mat-flat-button color="warn">ยกเลิก</a>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
