<mat-sidenav-container
  class="mainWrapper"
  autosize
  autoFocus
  [ngClass]="{
    'sidebarNav-mini': option.sidenavCollapsed && option.navPos !== 'top',
    'sidebarNav-horizontal': option.horizontal,
    cardBorder: option.cardBorder,
    orange_theme: option.activeTheme === colorThemeConstants.Orange,
    blue_theme: option.activeTheme === colorThemeConstants.Blue,
    aqua_theme: option.activeTheme === colorThemeConstants.Aqua,
    purple_theme: option.activeTheme === colorThemeConstants.Purple,
    green_theme: option.activeTheme === colorThemeConstants.Green,
    cyan_theme: option.activeTheme === colorThemeConstants.Cyan
  }"
  [dir]="option.dir!">
  <!-- ============================================================== -->
  <!-- Vertical Sidebar -->
  <!-- ============================================================== -->
  <mat-sidenav
    [mode]="isModeSide ? 'over' : 'side'"
    [opened]="option.navPos === 'side' && option.sidenavOpened && !isModeSide"
    *ngIf="!option.horizontal"
    (openedChange)="onSidenavOpenedChange($event)"
    class="sidebarNav">
    <div class="flex-layout">
      <app-sidebar></app-sidebar>
      <ng-scrollbar class="position-relative" style="height: 100%">
        <mat-nav-list class="sidebar-list">
          <app-nav-item
            *ngFor="let navItem of navItemVerticalConstants?.navigators"
            [navItem]="navItem"
            (notify)="matSidenav.toggle()">
          </app-nav-item>
        </mat-nav-list>
      </ng-scrollbar>
    </div>
  </mat-sidenav>

  <!-- ============================================================== -->
  <!-- Horizontal Sidebar -->
  <!-- ============================================================== -->
  <mat-sidenav
    #sidebarNav
    [mode]="'over'"
    [opened]="option.sidenavOpened && !isTabletSize"
    *ngIf="isResponsiveView"
    (openedChange)="onSidenavOpenedChange($event)"
    class="sidebarNav">
    <app-sidebar></app-sidebar>
    <ng-scrollbar class="position-relative" style="height: 100%">
      <mat-nav-list class="sidebar-list">
        <app-nav-item
          *ngFor="let navItem of navItemVerticalConstants?.navigators"
          [navItem]="navItem"
          (notify)="matSidenav.toggle()">
        </app-nav-item>
      </mat-nav-list>
    </ng-scrollbar>
    <div class="p-24 m-t-auto profile-bar">
      <div class="bg-light-accent d-flex align-items-center rounded p-16">
        <img
          alt="Image"
          src="/assets/images/profile/user-1.jpg"
          class="rounded-circle"
          width="40" />
        <div class="m-l-16">
          <h5 class="mat-subtitle-2 f-w-600">Mathew</h5>
          <span class="f-s-12">Designer</span>
        </div>
        <div class="m-l-auto">
          <a mat-icon-button [routerLink]="['/logout']" class="d-flex justify-content-center">
            <i-tabler name="power" class="text-primary icon-18 d-flex"></i-tabler>
          </a>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->

  <mat-sidenav-content class="contentWrapper" #contentWrapper>
    <!-- ============================================================== -->
    <!-- Vertical Header -->
    <!-- ============================================================== -->
    <ng-container *ngIf="!option.horizontal; else horizontalHeader">
      <app-header
        [showToggle]="!isModeSide"
        (toggleCollapsed)="toggleCollapsed()"
        (toggleMobileNav)="matSidenav.toggle()"></app-header>
    </ng-container>

    <!-- Horizontal Header -->
    <ng-template #horizontalHeader>
      <app-horizontal-header (toggleMobileNav)="matSidenav.toggle()"></app-horizontal-header>
    </ng-template>

    <app-horizontal-sidebar *ngIf="option.horizontal"></app-horizontal-sidebar>

    <main
      class="pageWrapper"
      [ngClass]="{
        maxWidth: option.boxed
      }">
      <app-breadcrumb></app-breadcrumb>
      <!-- ============================================================== -->
      <!-- Outlet -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
      <div class="customizerBtn">
        <button mat-fab color="primary" (click)="customizerRight.toggle()">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </main>
  </mat-sidenav-content>

  <mat-sidenav #customizerRight mode="over" position="end">
    <app-customizer></app-customizer>
  </mat-sidenav>
</mat-sidenav-container>

<!-- ============================================================== -->
<!-- Mobile Apps Sidebar -->
<!-- ============================================================== -->
